---
layout: default
title: Archive
permalink: /archive/
---

<section class="article">
  <header class="article-header">
    <div class="article-header-inner">
      <h1 class="article-title">Archive</h1>
    </div>
  </header>
  <div class="article-body-wrapper">
    <div class="article-content">
      {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
      {% for year in posts_by_year %}
      <h2>{{ year.name }}</h2>
      <ul>
        {% for post in year.items %}
        <li>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d" }}</time>
          — <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
</section>
